*{
    margin: 0px;
    padding: 0px;
}
#barra{
    height: 45px;
    background-color:#e6352f;
}
#bbtn1,#bbtn2{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 161, 53);
    height: 35px;
    width: 10%;
}
#bbtn2{
    float: right;
    margin-left: 0px;
    margin-right: 5px;
}

#presentacion{
    height: 500px;
    background-color: rgb(248, 195, 195);
}

#imagenes{
    height: 405px;
    background-color: rgb(255, 24, 197);
}
#imag{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    height: 365px;
    width: 365px;
    background-color: rebeccapurple;
}

#opciones{
    background-color: rgb(69, 17, 255);
    height: 320px;
}
#opcion{
    background-color: rebeccapurple;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 300px;
    width: 760px;
}

#info{
    height: 510px;
    background-color: rgb(56, 21, 27);
}
#lug{
    float: left;
    background-color: rebeccapurple;
    height: 400px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}